apiVersion: apps/v1
kind: Deployment
metadata:
  name: credential-schema-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: credential-schema
  template:
    metadata:
      labels:
        app: credential-schema
    spec:
      containers:
        - name: credential-schema
          image: ghcr.io/sunbird-rc/sunbird-rc-credential-schema:latest
          ports:
            - containerPort: 3333

          env:
            - name: DATABASE_URL
              value: "postgres://postgres:postgres@postgres-service:5432/registry"
            - name: IDENTITY_BASE_URL
              value: "http://identity-service:3332"
            - name: JWKS_URI
              value: ""
            - name: ENABLE_AUTH
              value: "false"

          readinessProbe:
            httpGet:
              path: /health
              port: 3333
            initialDelaySeconds: 10
            periodSeconds: 10
            failureThreshold: 5

          livenessProbe:
            httpGet:
              path: /health
              port: 3333
            initialDelaySeconds: 30
            periodSeconds: 10
            failureThreshold: 5
