apiVersion: apps/v1
kind: Deployment
metadata:
  name: registry-deployment
  labels:
    app: registry
spec:
  replicas: 1
  selector:
    matchLabels:
      app: registry
  template:
    metadata:
      labels:
        app: registry
    spec:
      containers:
      - name: registry
        image: ghcr.io/sunbird-rc/sunbird-rc-core:v2.0.0-rc1
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8081
        envFrom:
        - secretRef:
            name: registry-secret
        - configMapRef:
            name: registry-config
    
        readinessProbe:
          httpGet:
            path: /health
            port: 8081
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 6
        livenessProbe:
          httpGet:
            path: /health
            port: 8081
          initialDelaySeconds: 180
          periodSeconds: 30
          timeoutSeconds: 5
          failureThreshold: 5
        startupProbe:
          httpGet:
            path: /health
            port: 8081
         
          failureThreshold: 60
          periodSeconds: 10
          timeoutSeconds: 5

     
        
