apiVersion: apps/v1
kind: Deployment
metadata:
  name: credential-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: credential
  template:
    metadata:
      labels:
        app: credential
    spec:
      containers:
        - name: credential
          image: ghcr.io/sunbird-rc/sunbird-rc-credentials-service:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3000

          envFrom:
            - configMapRef:
                name: credential-config
            
            

          readinessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 10
            periodSeconds: 10
            failureThreshold: 5

          livenessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 30
            periodSeconds: 10
            failureThreshold: 5
