apiVersion: apps/v1
kind: Deployment
metadata:
  name: keycloak-deployment
  labels:
    app: keycloak
spec:
  replicas: 1
  selector:
    matchLabels:
      app: keycloak
  template:
    metadata:
      labels:
        app: keycloak
    spec:
      initContainers:
      - name: wait-for-postgres
        image: busybox:1.36
        command:
          - sh
          - -c
          - |
            until nc -z -w5 postgres-service 5432; do
              echo "Waiting for Postgres..."
              sleep 5
            done

      containers:
      - name: keycloak
        image: ghcr.io/sunbird-rc/sunbird-rc-keycloak:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8080 # Application (ODIC)
        - containerPort: 9990 #admin
        env:
        - name: KEYCLOAK_HTTP_ENABLED
          value: "true"
        - name: KEYCLOAK_HTTP_PORT
          value: "8080"
        - name: KEYCLOAK_HOSTNAME_STRICT
          value: "false"

        envFrom:
        - secretRef:
            name: keycloak-secret
        - configMapRef:
            name: keycloak-config
        volumeMounts:
        - name: realm
          mountPath: /opt/jboss/keycloak/imports
          readOnly: true
        readinessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 5
        livenessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 60
          periodSeconds: 30
        startupProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 60
          periodSeconds: 30

      volumes:
      - name: realm
        configMap:
          name: keycloak-realm

        
